<section class="container mb-3 ">
	<div>
		<div class="container-fluid card shadow-lg" style="margin-top: 4rem; background-color: #d1eaf4;">
			<canvas id="myChart" style="width:100%;max-width:700px; color: black;"></canvas>
		</div>
	</div>
</section>



<script>

	document.addEventListener("DOMContentLoaded", charts, false)

	async function charts() {
		const res = await axios.get('/admin//salesReportChart').then((e) => {
			console.log(e.data.orders)

			var result = [];
			e.data.orders.reduce(function (acc, curr) {
				if (!acc[curr.createdAt.slice(0, 10)]) {
					acc[curr.createdAt.slice(0, 10)] = { date: curr.createdAt.slice(0, 10), totalPrice: 0 };
					result.push(acc[curr.createdAt.slice(0, 10)])
				}
				acc[curr.createdAt.slice(0, 10)].totalPrice += parseInt(curr.Totalprice)

				return acc
			}, {});

			console.log(result)

			var xValues = [];
			var yValues = [];

			result.map((curr) => {
				xValues.unshift(curr.date)
				yValues.unshift(parseInt(curr.totalPrice))

			})


			console.log(xValues, yValues)

			new Chart("myChart", {
				type: "line",
				data: {
					labels: xValues,
					datasets: [{
						fill: false,
						lineTension: 0,
						backgroundColor: "rgba(0,0,255,1.0)",
						borderColor: "green",
						data: yValues
					}
					]
				},
				options: {
					legend: { display: false },
					scales: {
						yAxes: [{ ticks: { min: 100, max: 5000000 } }],
					}
				}
			});


		})
	}

</script>