
<body id="body-pd">
	<header class="header" id="header">
		<div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
		<div class="header_img"> <img class="p-1" src="/images/Screenshot 2022-08-23 155715.jpg" alt=""> </div>
	</header>
	<div class="l-navbar" id="nav-bar">
		<nav class="nav">
			<div> <a href="/admin/" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
						class="nav_logo-name ">FUTURA</span> </a>

				<div class="nav_list">
					{{!-- <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i>
						<span class="nav_name">Dashboard</span></a> --}}

					<a href="/admin/usermanagement" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span
							class="nav_name">Users</span> </a>
					<a href="/admin/products" class="nav_link"> <i class="fab fa-product-hunt"></i>
						<span class="nav_name">Products</span> </a>
					<a href="/admin/coupon" class="nav_link"><i class="fas fa-percent"></i><span
							class="nav_name">Coupon</span> </a>
					<a href="/admin/category" class="nav_link"><i class="fas fa-sitemap"></i><span
							class="nav_name">Category</span> </a>
					<a href="/admin/banner" class="nav_link"><i class="fas fa-window-maximize"></i><span
							class="nav_name">Banner</span> </a>
					<a href="/admin/orders" class="nav_link"><i class="fab fa-first-order"></i> <span
							class="nav_name">Orders</span> </a>

				</div>
			</div> <a href="/admin/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
					class="nav_name">SignOut</span> </a>
		</nav>
	</div>
	<!--Container Main start-->
	<div class="height-100 bg-light">
		<h4>Main Components</h4>
	</div>
	<!--Container Main end-->

</body>


<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
	integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
	crossorigin="anonymous"></script>

<script>
	document.addEventListener("DOMContentLoaded", function (event) {

		const showNavbar = (toggleId, navId, bodyId, headerId) => {
			const toggle = document.getElementById(toggleId),
				nav = document.getElementById(navId),
				bodypd = document.getElementById(bodyId),
				headerpd = document.getElementById(headerId)

			// Validate that all variables exist
			if (toggle && nav && bodypd && headerpd) {
				toggle.addEventListener('click', () => {
					// show navbar
					nav.classList.toggle('show')
					// change icon
					toggle.classList.toggle('bx-x')
					// add padding to body
					bodypd.classList.toggle('body-pd')
					// add padding to header
					headerpd.classList.toggle('body-pd')
				})
			}
		}

		showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

		/*===== LINK ACTIVE =====*/
		const linkColor = document.querySelectorAll('.nav_link')

		function colorLink() {
			if (linkColor) {
				linkColor.forEach(l => l.classList.remove('active'))
				this.classList.add('active')
			}
		}
		linkColor.forEach(l => l.addEventListener('click', colorLink))

		// Your code to run since DOM is loaded and ready
	});
</script>