<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">

        <h5 class="m-0">Mobile Number verification</h5><span class="mobile-text">Enter the code we just send on your
            mobile phone <b class="text-danger">+91 {{userdetails.Mobile}}</b></span>
        {{#if error}}
        <p style="color: red;">{{error}}</p>
        {{/if}}
        <form action="/check-otp" method="post">
            <div class="d-flex flex-row mt-3">
                <input type="text" name="otp" class="form-control">
            </div>
            <input class="invisible" name="number" value="{{userdetails.Mobile}}">
            <div class="text-center mt-4">
                <button type="submit" class="col-4 btn btn-outline-success text-center link-dark ">
                    Submit
                </button>
            </div>
        </form>
        {{!-- <div class="text-center mt-3"><span class="d-block mobile-text">Don't receive the code?</span><span
                class="font-weight-bold text-danger cursor">Resend</span></div> --}}
    </div>
</div>
<style>
    .card {
        width: 350px;
        padding: 10px;
        border-radius: 20px;
        background: #fff;
        border: none;
        height: 350px;
        position: relative;
    }

    .container {
        height: 100vh;
    }

    body {
        background: #eee;
    }

    .mobile-text {
        color: #989696b8;
        font-size: 15px;
    }

    .form-control {
        margin-right: 12px;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff8880;
        outline: 0;
        box-shadow: none;
    }

    .cursor {
        cursor: pointer;
    }
</style>